<h1>Title: <%= @book.title %></h1>
<section>
  <li>Author: <%= @book.author %></li>
  <li>Genre: <%= @book.genre %></li>
</section>

<h1>Reviews</h1>
<section>
  <% @book.find_reviews.each do |review| %>
    <li id="reviews"><%= review['summary'] %></li>
  <% end %>
</section>
